.about-work {
  padding: 30px 0 20px 0;
  width: 100%;
  min-height: 400px;
  background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-size: 20px 20px;
background-color: #131313;
}

.about-work__title {
  margin: 0 0 50px 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.about-work__img-container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto 10px;
  padding: 20px 0px;
  width: 170px;
  height: 170px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.about-work__img {
  display: block;
  margin: 0 auto;
}

.about-work__img-number {
  display: block;
  margin: 0 auto;
  padding: 5px 0 0 0;
  bottom: -10px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #ffffff;
}

.about-work__description {
  display: block;
  width: 95%;
  text-align: center;
  margin: 0 auto 50px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .about-work__step-list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px 30px;
  }

  .about-work__step-item {
    box-sizing: border-box;
    width: 30%;
    margin: 0 auto;
  }

  .about-work__description {

  }
}
