.about-work {
  padding: 30px 0 20px 0;
  width: 100%;
  min-height: 400px;
  background-image: url("../img/bg__about-work320.jpg");
}

.about-work__title {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
