.footer-nav {
  width: 60%;
  margin: 0 auto 40px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    color: rgba(255, 255, 255, 0.15);
  }

  &--actived,
  &--actived:hover {
    color: rgba(255, 255, 255, 0.15);
    cursor: default;
  }
}

.footer-nav__item {
  line-height: 1;
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px 0;
  cursor: pointer;
  height: 30px;
}

@media (min-width: @tablet-width) {
  .footer-nav__item {
    font-size: 22px;
    letter-spacing: 1.5px;
    margin: 0 0 18px 0;
  }
}
