.order-form {
  margin: 0;
  padding: 0;
}

.order-form__fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #aeaeae;
}

.order-form__input {
  display: block;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  padding: 0 10px 0 5px;
  border: 1px solid #c3c1c1;
  outline: none;
  width: 100%;
  height: 25px;
  margin: 0 auto 10px;
  list-style: none;

  &--select {
    -ms-appearance: none;
    appearance: none;
    width: 100%;

    &::-ms-expand {
      display: none;
    }
  }

  &--textarea {
    height: 80px;
    width: 100%;
    resize: none;
  }

  & option:hover {
    background-color: #ffffff;
  }

  &--selected:hover {
    background-color: green;
  }

  &:focus {
    outline: 1px solid #edc653;
  }
}

.order-form__label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 3px 0;
  cursor: pointer;
  padding: 5px 0 0 0;

  &--check-uniqueness {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 5px 25px 0 0;
    margin: 0 0 5px 0;
    width: 180px;
    height: 35px;
  }

  &--uniqueness-special {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 10px 20px 0 0;
    margin: 0 0 10px 0;
    width: 260px;
    height: 35px;
  }

  &--upload {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 0 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.order-form__input--uniqueness-special + .order-form__label--uniqueness-special::before,
.order-form__input--uniqueness + .order-form__label--check-uniqueness::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 5px;
  transition: 0.1s;
  background-image: url(../../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.order-form__input--uniqueness-special:checked + .order-form__label--uniqueness-special::before,
.order-form__input--uniqueness:checked + .order-form__label--check-uniqueness::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 5px;
  transition: 0.1s;
  background-image: url(../../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.order-form__date-title {
  margin: 0 0 10px 0;
  text-align: center;
}

.order-form__date-flex {
  display: flex;
  justify-content: space-between;
}

.order-form__block-img {
  position: relative;
  margin: 0 auto;
  width: 100%;

  &--mini {
    position: relative;
    margin: 0 20px 0 2%;
    width: 25%;
    height: 25px;
    justify-content: space-between;
  }
}

.order-form__select-img {
  position: absolute;
  top: 3px;
  right: 5px;
  fill: #5a5a5a;
}

.order-form__antiplagiat-flex {
  display: flex;
  justify-content: space-between;
}

.order-form__file-block {
  position: relative;
  overflow: hidden;
  margin: 0 auto 10px;
  text-align: center;
  width: 50%;
  height: 35px;
  color: rgb(209,209,217);
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s;

  &:hover {
    background: #7aad55;
  }

  &:active {
    top: 1px;
    background: linear-gradient(#3d8a37,#21611d) #24582b;
    box-shadow:
      0 0 1px rgba(0,0,0,.5) inset,
      0 2px 3px rgba(0,0,0,.5) inset,
      0 1px 1px rgba(255,255,255,.1);
  }
}

.order-form__file-block input[type="file"]{
  display: none;
}

.order-form__btn-submit {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 auto;
  border: none;
  width: 50%;
  height: 35px;
  color: rgb(209,209,217);
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;

  &:hover {
    background: #7aad55;
    transition: 0.3s
  }

  &:active {
    top: 1px;
        background: linear-gradient(#3d8a37,#21611d) #24582b;
    box-shadow:
      0 0 1px rgba(0,0,0,.5) inset,
      0 2px 3px rgba(0,0,0,.5) inset,
      0 1px 1px rgba(255,255,255,.1);
  }
}

@media (min-width: @tablet-width) {
  .order-form__flex-select {
    display: flex;
    justify-content: space-between;
  }

  .order-form__block-img {
    width: 30%;
    margin: 0;
  }

  .order-form__date-title {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .order-form__date-flex {
    width: 50%;
  }

  .order-form__flex-contacts {
    display: flex;
    justify-content: space-between;
  }

  .order-form__label {
    font-size: 16px;

    &--check-uniqueness {
      width: 60%;
      height: 40px;
    }
  }

  .order-form__input--uniqueness-special:checked + .order-form__label--uniqueness-special::before,
  .order-form__input--uniqueness:checked + .order-form__label--check-uniqueness::before,
  .order-form__input--uniqueness-special + .order-form__label--uniqueness-special::before,
  .order-form__input--uniqueness + .order-form__label--check-uniqueness::before {
    top: 10px;
  }


  .order-form__input {
    height: 30px;

    &--contacts {
      width: 35%;
    }

    &--ap {
      width: 45%;
      margin: 0 0 10px 0;
    }

    &--textarea {
      height: 80px;
    }


  }

  .order-form__flex-tablet {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  .order-form__antiplagiat-flex {
    width: 45%;
    margin: 0 0 10px 0;
  }

  .order-form__file-block {
    margin: 0 auto 15px;
  }
}
