.rules {
  padding: 10px 0 0 0;
  box-sizing: border-box;
  background-color: #e0e0e04d;
}

.rules__item {
  box-sizing: border-box;
  width: 90%;
  padding: 15px 15px 15px 0;
  margin: 0 auto 20px;
  background:linear-gradient(#c1c1c1, transparent 1px),
  linear-gradient(90deg,#c1c1c1, transparent 1px);
  background-size: 10px 10px;
  background-position: center center;
  transition: .3s all ease;
  box-shadow: 0 8px 10px -2px rgba(0,0,0,.15);
  background-color: #f6f9f0;

  &:hover {
    box-shadow: 0 8px 12px 8px rgba(0,0,0,.15);
  }
}

.rules__item-title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
